main {
    font-family: 'Montserrat', monospace;
    position: relative;
    font-size: 30px;
}

.reloj {
    left: 35%;
}

.circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 4px solid black;
    color: black;
    margin: 90px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle::before {
    content: '';
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    width: 160px;
    height: 160px;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    background-color: beige;
}

.seconds-sphere {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(108, 39, 110);
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    animation: rotacion 60s linear infinite;
    animation-play-state: paused;
}

@keyframes rotacion {
    from { transform: rotate(-90deg) translateX(60px); }
    to   { transform: rotate(270deg) translateX(60px); }
}

.buttons {
    margin-top: 15px;
    display: inline-flex;
}

.paused {
    height: 10px;
    border-width: 5px 0 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 8px;
    border-color: transparent transparent transparent fuchsia;
    transition: 100ms all ease;
    border-style: solid;
    height: 15px;
    width: 15px;
}

.running {
    border-style: double;
    border-width: 0 0 0 10px;
}

.stop {
    background-color:fuchsia;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: black;
    margin-top: 3%;
}

body {
    background-color:#d885af;
}

.titunews {
    text-align: center;
    font-weight: bolder;
    background-color: lightblue;

}

.container {
    display: inline-block;
    
}